# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Class Files
out

# tests
src/test
src/tests

# Oef 8
src/resources/puntenOef8